<style>
    .card .card-header .card-title {
        margin-top:0px!important;
        color: #fff;
    }
    .btn-success {
        background-color: #6aa524;
        color: #FFFFFF;
    }
    .ft{
        font-size: 16px;
    }
    </style>
  <div class="main-content" style="position: relative;">   
        
            <button mat-icon-button  (click)="closeDialog()"
                     style="position: absolute;
                            right: -32px;
                            top: -32px;
                            transform: scale(0.75);
                            outline: none;
                            background-color: #ffffff!important;
                            color: rgb(0, 0, 0);
                            border-radius: 0px;">
                <mat-icon >close</mat-icon>
            </button>
 
            <form [formGroup]="genFaqForm">
                <!-- <div class="text-right" style="padding-right: 5px;"><button mat-icon-button  (click)="closeDialog()"><mat-icon >close</mat-icon></button></div> -->
                <div class="card">
                    <div class="card-header card-header-danger" style="padding-bottom: 0.5px; background-color: #6AA524;">
                        <!-- .card .card-header:not([data-background-color]) {
                            background-color: #6AA524;
                            padding-bottom: 0.5px; -->
                        <h4 class="card-title ft"> Edit Gen Faq</h4>
                    </div>
                    <div class="card-body block-card">
                        <div class="row">
                            <!-- <div class="col-md-12" style="padding-top: 10px;" >
                                <mat-label>Type</mat-label>
                                <mat-form-field class="example-full-width"  style="width: 490px">                                
                                    <input matInput  formControlName="type" [(ngModel)]="linkType" >
                                </mat-form-field> -->
                                <!-- <div *ngIf="rejectForm.controls['type'].touched &&
                                rejectForm.controls['type'].invalid"
                                 class="text-danger">
                              <div *ngIf="rejectForm.controls['type'].errors &&
                                  rejectForm.controls['type'].errors.required">
                                  type is required.</div>
                              </div> -->
                                
                            <!-- </div> -->

                            <div class="col-md-12" style="padding-top: 10px;">
                                <mat-label>Enter Question</mat-label>
                                <mat-form-field class="example-full-width" style="width: 490px">
                                    <textarea matInput rows="5"  formControlName="question"  [(ngModel)]="EnterQuestion"
                                    ></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12" style="padding-top: 10px;">
                                <mat-label>Enter Answer</mat-label>
                                <mat-form-field class="example-full-width" style="width: 490px">
                                    <textarea matInput rows="10"  formControlName="answer"  [(ngModel)]="EnterAnswer"
                                    ></textarea>
                                </mat-form-field>
                            </div>
                            <!-- <div class="col-md-12">
                                <label>Status</label>
                                 <p class="hd_p">
                                    {{link}}
                                 </p>
                             </div> -->
                            
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button mat-raised-button type="submit" class="btn btn-success ft"    (click)="addFaq()">Update</button>
                    <!-- [disabled]="!genFaqForm.valid" -->
                  
                </div>
            </form>

</div>
