<!-- <p>add-testimonials works!</p> -->
<div class="panel-header panel-header-sm">
</div>
<div class="hdng">
  <h2 >
   APPLICATION DETAILS </h2>
 </div>
 <div class="main-content" style="position: relative;">
    <div class="">
        <div class="">
            <div class="">
                <form [formGroup]="applicationForm">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Testimonials</h4>
                        </div>
                        <div class="card-body block-card">
                            <div class="row">
                                <div class="col-md-6 offset-sm-3">
                                    <div class="vid_wrap">
                                        <iframe class="embed-responsive-item" [src]='video'></iframe>
                                    </div>
                                    
                                </div>
                
                               
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <p class="hd_p">
                                        {{applicationData.name}}
                                    </p>
                                    
                                </div>
                
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <p class="hd_p">
                                       {{applicationData.email}}
                                    </p>
                                    
                                </div>
                                
                               
                                <div class="col-md-6">
                                    <label>Phone Number</label>
                                    <p class="hd_p">
                                       {{applicationData.phone}}
                                    </p>
                                </div>

                                <div class="col-md-6">
                                    <label>Country</label>
                                    <p class="hd_p">
                                        {{applicationData.country}} 
                                    </p>
                                </div>

                                <div class="col-md-6">
                                    <label>State</label>
                                    <p class="hd_p">
                                        {{applicationData.state}} 
                                    </p>
                                </div>

                                <div class="col-md-6">
                                    <label>City</label>
                                    <p class="hd_p">
                                        {{applicationData.city}} 
                                    </p>
                                </div>

                                <div class="col-md-6">
                                   
                                    <label>Address</label>
                                    <p class="hd_p">
                                        {{applicationData.address}} 
                                    </p>
                                </div>
                                
                                <div class="col-md-6">
                                    <label>Teaching Experience</label>
                                    <p class="hd_p">
                                        {{applicationData.experiance}}
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <label>Websites Links That Show Teaching Experience</label>
                                    <p class="hd_p">
                                        {{applicationData.link}}
                                    </p>
                                </div>
                                    
                                
                                <div class="col-md-6">
                                    <label>What will you teach?</label>
                                    <p class="hd_p">
                                        {{applicationData.whatWillYouTeach}}
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <label>How you will teach? Your Approach?</label>
                                    <p class="hd_p">
                                        {{applicationData.teach}}
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <label>Requirements for the class?</label>
                                    <p class="hd_p">
                                        {{applicationData.requirement}}
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <label>How will learners benefit from this class?</label>
                                    <p class="hd_p">
                                        {{applicationData.benefitsOfClass}}
                                    </p>
                                </div>
                                <div class="col-sm-12" *ngIf="applicationData.academic_qualifications.length >0">
                                    <label>Academic Qualification</label>
                                    <table class="table table-bordered text-center">
                                        <tbody>
                                          <tr class="hddr">
                                           <td><b>Sr.No.</b></td>
                                           <td><b>Degree/Certificate</b></td>			
                                            <td><b>Major</b></td>
                                            <td><b>College/University</b></td>
                                            <td><b>Year of Passing</b></td>
                                          </tr>
                                          <tr *ngFor="let qual of applicationData.academic_qualifications;let i = index;">
                                              <td>{{i+1}}</td>
                                              <td>{{qual.degree_certificates}}</td>
                                              <td>{{qual.major}}</td>
                                              <td>{{qual.college_university}}</td>
                                              <td>{{qual.year_of_passing}}</td>
                                          </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>

                                <div class="col-sm-12" *ngIf="applicationData.professional_qualifications.length >0">
                                    <label>Professional Qualification</label>
                                    <table class="table table-bordered text-center">
                                        <tbody>
                                          <tr class="hddr">
                                           <td><b>Sr.No.</b></td>
                                           <td><b>Employer</b></td>	
                                           <td><b>Position</b></td>		
                                            <td><b>From(month/year)</b></td>
                                            <td><b>To(month/year)</b></td>
                                          </tr>
                                          <tr *ngFor="let prof of applicationData.professional_qualifications;let i = index;">
                                              <td>{{i+1}}</td>
                                              <td>{{prof.employer}}</td>
                                              <td>{{prof.position}}</td>
                                              <td>{{prof.from_month_year}}</td>
                                              <td>{{prof.to_month_year}}</td>
                                          </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>

                                <div class="col-sm-12" *ngIf="applicationData.classes_teach_data.length >0">
                                    <label>Classes That You Want To Teach</label>
                                    <table class="table table-bordered text-center" >
                                        <tbody>
                                           
                                          <tr class="hddr">
                                            <td><b>Sr.No.</b></td>   
                                           <td><b>Topic</b></td>			
                                            <td><b>Sub Topic</b></td>
                                            <td><b>Years of teaching experience</b></td>
                                            <td><b>Age Group</b></td>
                                          </tr>
                                          <tr *ngFor="let data of applicationData.classes_teach_data;let i = index;">
                                           
                                              <!-- <div *ngIf="applicationData.classes_teach_data.length > 0"> -->
                                              <td>{{i+1}}</td>
                                              <td>{{data.topic }}</td>
                                              <td>{{data.sub_topic}}</td>
                                              <td>{{data.teaching_experience }}</td>
                                              <td>{{data.fromAge + " " + "to" + " " + data.toAge }}</td>
                                              <!-- </div> -->
                                              
                                              
                                          </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <label>Application Date</label>
                                     <p class="hd_p">
                                        {{applicationData.date| dateAgo}}
                                     </p>
                                 </div>
                                <div class="col-md-12">
                                   <label>Status</label>
                                    <p class="hd_p">
                                       {{applicationData.status}}
                                    </p>
                                </div>
                                
                            </div>
                           
                            <div class="text-center" *ngIf="applicationData.status == 'Approved'">
                                <!-- <button mat-raised-button type="submit" class="btn btn-success ft" (click)="onStatus()">Accept</button> -->
                                &nbsp;&nbsp;&nbsp;<button mat-raised-button type="submit" class="btn btn-success ft" (click)="rejectApplication()" >Reject</button>
                                <!-- (click)="onStatus('Decline')" -->
                                &nbsp;&nbsp;&nbsp;<button mat-raised-button type="submit" routerLink="/teacherApplication" class="btn theme-btn ft">Back</button>
                            </div>
                            <div class="text-center" *ngIf="applicationData.status == 'Pending'">
                                <button mat-raised-button type="submit" class="btn btn-success ft" (click)="onStatus()">Accept</button>
                                &nbsp;&nbsp;&nbsp;<button mat-raised-button type="submit" class="btn btn-success ft" (click)="rejectApplication()" >Reject</button>
                                <!-- (click)="onStatus('Decline')" -->
                                &nbsp;&nbsp;&nbsp;<button mat-raised-button type="submit" routerLink="/teacherApplication" class="btn theme-btn ft">Back</button>
                            </div>
                            <div class="text-center" *ngIf="applicationData.status == 'Rejected'">
                                <button mat-raised-button type="submit" routerLink="/teacherApplication" class="btn theme-btn ft">Back</button>
                            </div>
                          </div>
                         </div>
               </form>
            </div>
        </div>
    </div> 
 </div>





















