<div *ngIf="loader" class="load_er">
	<mat-progress-spinner
	color="primary"
	mode="indeterminate">
	</mat-progress-spinner></div>
<div class="panel-header panel-header-sm">
</div>
<div class="hdng">
  <h2 >COURSES MANAGEMENT</h2>
 </div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        
        <div class="card-body">
          <!-- <div class="text-right" style="padding-right: 65px;" >
            <button mat-button class="theme-btn" (click)="openSubCategoryDialog()">Add Sub Category</button>
          </div> -->
          <!-- routerLink="/addcategory" -->
         
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="" #input>
          </mat-form-field>
          <div class="card-body">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="mat-table table mat-elevation-z1">
                    <!-- Position -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>S.No.</th>
                        <td mat-cell *matCellDef="let element; let i = index;" >
                          {{ (currentIndex) * currentPage + i +1 }}
                          <!-- {{ i + 1 }} -->
                        </td>
                    </ng-container>

                    <!-- Questions -->
                    <ng-container matColumnDef="course_type">
                        <th mat-header-cell  class="text-center"  *matHeaderCellDef>Course Type</th>
                        <td mat-cell  class="text-center"  *matCellDef="let element">{{element.course_type}}</td>
                    </ng-container>
 
                    <ng-container matColumnDef="teacher_name">
                        <th mat-header-cell  class="text-center"  *matHeaderCellDef>Teacher Name</th>
                        <td mat-cell  class="text-center"  *matCellDef="let element">{{element.teacher_data == null ? 'N/A' : element.teacher_data.fullname}}</td>
                    </ng-container> 

                    <ng-container matColumnDef="course_title">
                        <th mat-header-cell   *matHeaderCellDef>
                          <div style="width:100px" class="text-center">
                          Title
                         </div>
                        </th>
                        <td mat-cell    *matCellDef="let element"  class="text-center">
                          <!-- {{element.course_title}} -->
                          <div class="text-center" style="width:100px">
                            <!-- {{element.course_title}} -->
                           <a href="https://bridgegapwebnew.web.app/single-detail/{{element.id}}" target="_blank">{{element.course_title}}</a> 
                           <!-- (click)="titlePage(element.id)" -->
                          </div>
                        </td>
                    </ng-container> 

                    <ng-container matColumnDef="date">
                        <th mat-header-cell class="text-center" *matHeaderCellDef>Course Time</th>
                        <td mat-cell class="text-center" *matCellDef="let element">{{element.updated_at | date :'shortTime'}}({{element.updated_at | dateAgo }}) </td>
                    </ng-container>

                    <ng-container matColumnDef="courseDate">
                      <th mat-header-cell class="text-center" *matHeaderCellDef>Course Date</th>
                      <td mat-cell class="text-center" *matCellDef="let element">{{element.updated_at | date }}</td>
                   </ng-container>
               
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">
                          {{element.status == 'approved' ? 'Approved' : (element.status == 'rejected' ? 'Rejected' : 'Pending')}}
                          <!-- {{courseData.status == 'active' ? 'Accepted' : (courseData.status == 'inactive' ? 'Rejected' : 'Pending')}} -->
                          <!-- <mat-form-field >
                               
                            <select (change)="onStatus($event.target.value, element.id)" matNativeControl required> -->
                              <!-- <option *ngIf="element.status == 'active'" value="inactive">active</option>
                              <option *ngIf="element.status == 'inactive'" value="active">active</option> -->
                              <!-- <option value="active">Pending</option>
                              <option value="inactive" >Approved</option> -->
                             
                             
<!--                              
                            </select>
                          </mat-form-field> -->
                        
                         
                        </td>
                    </ng-container>
                  
                    <!-- Action -->
                    <ng-container matColumnDef="action">
                    <th width="150px" class="text-center" mat-header-cell *matHeaderCellDef  class="mat-header-cell text-center">
                       View Course
                    </th>
                    <td  width="150px" class="mat-cell act_td text-center" mat-cell *matCellDef="let element">
                      <button  mat-icon-button routerLink="/viewCourse/{{element.id}}" >
                         <mat-icon >visibility</mat-icon>
                     </button>
                     <button  mat-icon-button (click)="delete(element.id)" >
                      <mat-icon >delete</mat-icon>
                    </button>
                        
                             
                             
                            <!-- </button> -->
                       
                    </td>


                    <!-- </td> -->
                </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div>
                    <mat-paginator [length]="length" [pageSize]="10" [pageSizeOptions]="getPageSizeOptions()"
                        (page)="paginationOptionChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div> 
          
        </div>
      </div>
    </div>
  </div>
</div>
