<div class="panel-header panel-header-sm">
</div>
<div class="hdng">
  <h2 >
    STUDENT DETAILS </h2>
 </div>
 <div class="main-content" style="position: relative;">
    <div class="">
        <div class="">
            <div class="">
                <form >
                    <!-- [formGroup]="applicationForm" -->
                    <div class="card" >
                        <!-- <div class="card-header card-header-danger">
                            <h4 class="card-title">Testimonials</h4>
                        </div> -->
                        <div class="card-body  block-card" style="margin-top: 29px;">
                            <div class="row">
                            
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <p class="hd_p">
                                        {{studentData.name == "null" ? "N/A" : studentData.name}}
                                    </p>
                                    
                                </div>
                
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <p class="hd_p">
                                       {{studentData.email == null ? "N/A" : studentData.email}}
                                    </p>
                                    
                                </div>
                                
                               
                                <div class="col-md-6">
                                    <label>Phone</label>
                                    <p class="hd_p">
                                       {{studentData.phone == null ? "N/A" : studentData.phone }}
                                    </p>
                                </div>

                                <!-- <div class="col-md-6">
                                    <label>Country</label>
                                    <p class="hd_p">
                                       {{studentData.country ==null ? "N/A" : studentData.country}}
                                    </p>
                                </div> -->

                                <!-- <div class="col-md-6">
                                    <label>State</label>
                                    <p class="hd_p">
                                       {{studentData.state == null ? "N/A" : studentData.state}}
                                    </p>
                                </div>
                                  -->
                                <!-- <div class="col-md-6">
                                    <label>Date Of Birth</label>
                                    <p class="hd_p">
                                        {{studentData.dob == null ? "N/A" : studentData.dob}} 
                                    </p>
                                </div> -->

                                <!-- <div class="col-md-6">
                                    <label>Facebook Id</label>
                                    <p class="hd_p">
                                        {{studentData.fb == null ? "N/A" : studentData.fb}} 
                                    </p>
                                </div>

                                <div class="col-md-6">
                                    <label>Google Id</label>
                                    <p class="hd_p">
                                        {{studentData.google == null ? "N/A" : studentData.google}} 
                                    </p>
                                </div> -->

                                <div class="col-md-6">
                                    <label>User Type </label>
                                    <p class="hd_p">
                                        {{studentData.type == null ? "N/A" : studentData.type}} 
                                    </p>
                                </div>
                                
                                <div class="col-md-6">
                                   
                                    <label>Sign Up Date</label>
                                    <p class="hd_p">
                                        {{studentData.signupdate | date:'mediumDate'}} 
                                    </p>
                                </div>

                                <div class="col-md-6">
                                   
                                    <label>Status</label>
                                    <p class="hd_p">
                                        {{studentData.status}} 
                                    </p>
                                </div>
                                
                                
                            </div>
                           
                            <div class="text-center" *ngIf="studentData.status == 'inactive'">
                                <!--  -->
                                <button mat-raised-button type="submit" class="btn btn-success ft" (click)="onStatus('active')">Active</button>
                                <!-- &nbsp;&nbsp;&nbsp;<button mat-raised-button type="submit" class="btn btn-success ft" (click)="onStatus('inactive')" >Inactive</button> -->
                                <!-- (click)="onStatus('Decline')" -->
                                &nbsp;&nbsp;&nbsp;<button mat-raised-button type="submit" routerLink="/student_list" class="btn theme-btn ft">Back</button>
                            </div>
                            <div class="text-center" *ngIf="studentData.status == 'active'">
                               <button mat-raised-button type="submit" class="btn btn-success ft" (click)="onStatus('inactive')" >Inactive</button>
                                &nbsp;&nbsp;&nbsp; <button mat-raised-button type="submit" routerLink="/student_list" class="btn theme-btn ft">Back</button>
                            </div>
                          </div>
                         </div>
               </form>
            </div>
        </div>
    </div> 
 </div>






















