<div class="panel-header panel-header-sm">
</div>
<div class="hdng">
  <h2 >
    TEACHER DETAILS </h2>
 </div>
 <div class="main-content" style="position: relative;">
    <div class="">
        <div class="">
            <div class="">
                <form >
                    <!-- [formGroup]="applicationForm" -->
                    <div class="card">
                        <!-- <div class="card-header card-header-danger">
                            <h4 class="card-title">Testimonials</h4>
                        </div> -->
                        <div class="card-body block-card">
                            <div class="row">
                            
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <p class="hd_p">
                                        {{teacherData.name == "null" ? "N/A" : teacherData.name}}
                                    </p>
                                    
                                </div>
                
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <p class="hd_p">
                                       {{teacherData.email == null ? "N/A" : teacherData.email}}
                                    </p>
                                    
                                </div>
                                
                               
                                <div class="col-md-6">
                                    <label>Phone</label>
                                    <p class="hd_p">
                                       {{teacherData.phone == null ? "N/A" : teacherData.phone }}
                                    </p>
                                </div>

                                <div class="col-md-6">
                                    <label>Country</label>
                                    <p class="hd_p">
                                       {{teacherData.country ==null ? "N/A" : teacherData.country}}
                                    </p>
                                </div>

                                <div class="col-md-6">
                                    <label>State</label>
                                    <p class="hd_p">
                                       {{teacherData.state == null ? "N/A" : teacherData.state}}
                                    </p>
                                </div>
                                 
                                <div class="col-md-6">
                                    <label>Date Of Birth</label>
                                    <p class="hd_p">
                                        {{teacherData.dob == null ? "N/A" : teacherData.dob}} 
                                    </p>
                                </div>
<!-- 
                                <div class="col-md-6">
                                    <label>Facebook Id</label>
                                    <p class="hd_p">
                                        {{teacherData.fb == null ? "N/A" : teacherData.fb}} 
                                    </p>
                                </div> -->

                                <!-- <div class="col-md-6">
                                    <label>Google Id</label>
                                    <p class="hd_p">
                                        {{teacherData.google == null ? "N/A" : teacherData.google}} 
                                    </p>
                                </div> -->

                                <div class="col-md-6">
                                    <label>User Type</label>
                                    <p class="hd_p">
                                        {{teacherData.type == null ? "N/A" : teacherData.type}} 
                                    </p>
                                </div>

                                <div class="col-md-6">
                                   
                                    <label>Status</label>
                                    <p class="hd_p">
                                        {{teacherData.status}} 
                                    </p>
                                </div>
                                
                                
                            </div>
                           
                            <div class="text-center" *ngIf="teacherData.status == 'inactive'">
                                <!--  -->
                                <button mat-raised-button type="submit" class="btn btn-success ft" (click)="onStatus('active')">Active</button>
                                <!-- &nbsp;&nbsp;&nbsp;<button mat-raised-button type="submit" class="btn btn-success ft" (click)="onStatus('inactive')" >Inactive</button> -->
                                <!-- (click)="onStatus('Decline')" -->
                                &nbsp;&nbsp;&nbsp;<button mat-raised-button type="submit" routerLink="/teacher_list" class="btn theme-btn ft">Back</button>
                            </div>
                            <div class="text-center" *ngIf="teacherData.status == 'active'">
                               <button mat-raised-button type="submit" class="btn btn-success ft" (click)="onStatus('inactive')" >Inactive</button>
                                &nbsp;&nbsp;&nbsp; <button mat-raised-button type="submit" routerLink="/teacher_list" class="btn theme-btn ft">Back</button>
                            </div>
                          </div>
                         </div>
               </form>
            </div>
        </div>
    </div> 
 </div>






















