<div *ngIf="loader" class="load_er">
	<mat-progress-spinner
	color="primary"
	mode="indeterminate">
	</mat-progress-spinner></div>
<div class="panel-header panel-header-sm">
</div>
<div class="hdng">
  <h2 >
    CREATE HOW IT WORKS</h2>
 </div>
 <div class="main-content" style="position: relative;">
    <div class="">
        <div class="">
            <div class="">
                <form [formGroup]="createForm">
                    <div class="card">
                        <!-- <div class="card-header card-header-danger">
                            <h4 class="card-title">Testimonials</h4>
                        </div> -->
                        <div class="card-body block-card">
                            <div class="row">


                                <div class="col-md-6 offset-sm-3 text-center a-u">
                                    <mat-form-field class="example-full-width text-center">
                                        <label>Upload Image</label>
                                        <input matInput readonly />
                                        <span class="mat_imag position-relative">
                                            <img *ngIf="!image && !testi_image" class="img-responsive"
                                                src="assets/img/img-place.jpg" />
                                            
                                            <img *ngIf="image" class="img-responsive"
                                                [src]="image" />
                                            <img *ngIf="!image && testi_image" class="img-responsive" src="{{imgUrl}}{{testi_image}}" />
                                            <span class="inpt_icon">
                                                <input type="file" #uploadFile formControlName="image"  value="bannerData.image"
                                                    (change)="onFileChange($event)" accept="image/*">
                                                <i class="fa fa-upload" *ngIf="!image"></i>
                                                <i class="fa fa-edit" *ngIf="image"></i>
                                            </span>
                                        </span>
                                    </mat-form-field>
                                   
                                </div> 

                                <!-- Author Name -->
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input  formControlName="heading" maxlength="50" matInput placeholder="Heading" [(ngModel)]="engagingData.heading"
                                        >
                                    </mat-form-field>
                                    <div *ngIf="createForm.controls['heading'].touched &&
                                     createForm.controls['heading'].invalid"
                                             class="text-danger">
                                     <div *ngIf="createForm.controls['heading'].errors &&
                                      createForm.controls['heading'].errors.required">
                                         Heading  is required.</div>
                                 </div>
                                </div>
            
                               
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input  formControlName="description" matInput placeholder="Description" maxlength="150" [(ngModel)]="engagingData.description">
                                    </mat-form-field>
                                    <div *ngIf="createForm.controls['description'].touched &&
                                    createForm.controls['description'].invalid"
                                             class="text-danger">
                                     <div *ngIf="createForm.controls['description'].errors &&
                                     createForm.controls['description'].errors.required">
                                         Description is required.</div>
                                 </div>
                                </div>
                                
                                <!-- Image -->
                                <!-- <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <label>Image</label>
                                        <input matInput readonly />
                                        <span class="mat_imag position-relative">
                                            <img *ngIf="!image && !testi_image" class="img-responsive"
                                                src="assets/img/img-place.jpg" />
                                            
                                            <img *ngIf="image" class="img-responsive"
                                                [src]="image" />
                                            <img *ngIf="!image && testi_image" class="img-responsive" src="{{imgUrl}}{{testi_image}}" />
                                            <span class="inpt_icon">
                                                <input formControlName="image" type="file" #uploadFile value="engagingData.image"
                                                    (change)="onFileChange($event)" accept="image/*">
                                                <i class="fa fa-upload" *ngIf="!image"></i>
                                                <i class="fa fa-edit" *ngIf="image"></i>
                                            </span>
                                        </span>
                                    </mat-form-field>
                                   
                                </div>               -->
                            </div>
                            
                            <div class="text-center">
                                <button mat-raised-button type="submit" class="btn btn-success ft"  [disabled]="!createForm.valid" (click)="add()">Add</button>
                                &nbsp;&nbsp;&nbsp;<button mat-raised-button type="submit" routerLink="/section_3" class="btn theme-btn ft">Back</button>
                                <!-- [disabled]="!createForm.valid"  -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
 </div>