
<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="assets/img/logow.png"/>
      </div>
    </a>
    
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems let i=index;" [ngClass]="{active: router.url.includes('/sub_category' ) && menuItem.path == '/category' }" class="{{menuItem.class}} nav-item">
        <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems let i=index;" class="{{menuItem.class}} nav-item"> -->
            
            <a class="nav-link collapsed" [routerLink]="[menuItem.path]" data-toggle="collapse" [attr.data-target]="'#dfsa' + i">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
            <!-- <div class="collapse" [attr.id]="'dfsa' + i" data-parent="#accordionExample{{i}}">
                <ul type="none" class="iner_ul">
                    <li *ngFor="let sbcat of menuItem.subcat" class="nav-item">
                        <a class="nav-link" [routerLink]="[sbcat.path]">
                            <i class="material-icons">{{sbcat.icon}}</i>
                            <p>{{sbcat.title}}</p>
                        </a>
                    </li>
                </ul>
            </div> -->
        </li>
        <li  routerLinkActive="active"  class="nav-item">
            <a href="javascript:void(0)" class="nav-link ">
                <i class="material-icons">list</i>
                <p>User Management</p>
                
            </a>
            <ul class="sub-ul">
                <li [ngClass]="router.url.includes('/student_list') ? 'active-1' : ''" ><a  [routerLink]="['/student_list']">Student Management</a></li>
                <li [ngClass]="router.url.includes('/teacher_list') ? 'active-1' : ''" ><a  [routerLink]="['/teacher_list']">Teacher Management</a></li>
            </ul>
        </li>
        <li  routerLinkActive="active"  class="nav-item">
            <a href="javascript:void(0)" class="nav-link">
                <i class="material-icons">home</i>
                <p>Home Management</p>
                
            </a>
            <ul class="sub-ul">
                <!-- [ngClass]="{'font-green':  percent > 50, 'font-orange': percent>40 && percent<=50,'font-red': percent<=40}" -->
                <li  [ngClass]="router.url.includes('/section_1') ? 'active-1' : ''"><a [routerLink]="['/section_1']">BANNER MANAGEMENT</a></li>
                <!-- <li class="active-1"><a [routerLink]="['/section_1']">BANNER MANAGEMENT</a></li> -->
                <li [ngClass]="router.url.includes('/section_2') ? 'active-1' : ''"><a [routerLink]="['/section_2']"> ENGAGING & EFFICIENT </a></li>
                <li [ngClass]="router.url.includes('/section_3') ? 'active-1' : ''"><a [routerLink]="['/section_3']">HOW IT WORKS</a></li>
                <li [ngClass]="router.url.includes('/testimonials') ? 'active-1' : ''"><a [routerLink]="['/testimonials']">Testimonials</a></li>
            </ul>
        </li>
        <!-- <li  routerLinkActive="active"  class="nav-item">
            <a [routerLink]="['/teacherApplication']">
                <i class="material-icons">list</i>
                <p>Teacher Application Management</p>
                
            </a>
            
        </li> -->


        <!-- <li  routerLinkActive="active"  class="nav-item">
            <a href="javascript:void(0)" class="nav-link ">
                <i class="material-icons">list</i>
                <p>User Management</p>
                
            </a>
            <ul class="sub-ul">
                <li [ngClass]="router.url.includes('/student_list') ? 'active-1' : ''" ><a  [routerLink]="['/student_list']">Student Management</a></li>
                <li [ngClass]="router.url.includes('/teacherApplication') ? 'active-1' : ''" ><a  [routerLink]="['/teacherApplication']">Teacher Management</a></li>
              -->



        <li routerLinkActive="active"  class="nav-item">
            <a href="javascript:void(0)" class="nav-link">
                <i class="material-icons">settings</i>
                <p>General Management</p>
            </a>
              <ul class="sub-ul">
               <li  [ngClass]="router.url.includes('/contact') ? 'active-1' : ''"><a [routerLink]="['/contact']">CONTACT US</a></li>
               <li  [ngClass]="router.url.includes('/sociaLinks') ? 'active-1' : ''"><a [routerLink]="['/sociaLinks']">SOCIAL MEDIA LINKS</a></li>
             </ul>
     
        </li>
        <li  routerLinkActive="active"  class="nav-item">
            <a href="javascript:void(0)" class="nav-link">
                <i class="material-icons">info</i>
                <p>Faq Management</p>
            </a>    
                <ul class="sub-ul">
                    <li [ngClass]="router.url.includes('/generalFaq') ? 'active-1' : ''"><a [routerLink]="['/generalFaq']">GENERAL FAQ</a></li>
                    <li [ngClass]="router.url.includes('/teacherFaq') ? 'active-1' : ''"><a [routerLink]="['/teacherFaq']">TEACHER FAQ</a></li>
                    <li [ngClass]="router.url.includes('/parentFaq') ? 'active-1' : ''"><a [routerLink]="['/parentFaq']">PARENT FAQ</a></li>
                </ul>
           
        </li>

    </ul>
</div>

<!-- 
<ul class="nav">
   <li routerLinkActive="active" *ngFor="let menuItem of menuItems; let i = index;" class="{{menuItem.class}} nav-item accordion" id="accordionExample{{i}}">
       <a class="nav-link collapsed" [routerLink]="[menuItem.path]" data-toggle="collapse" [attr.data-target]="'#dfsa' + i">
           <i class="material-icons">{{menuItem.icon}}</i>
           <p>{{menuItem.title}}</p>`
       </a>
       <div class="collapse" [attr.id]="'dfsa' + i" data-parent="#accordionExample{{i}}">
           <ul type="none" class="iner_ul">
               <li *ngFor="let sbcat of menuItem.subcat" class="nav-item">
                   <a class="nav-link" [routerLink]="[sbcat.path]">
                       <i class="material-icons">{{sbcat.icon}}</i>
                       <p>{{sbcat.title}}</p>
                   </a>
               </li>
           </ul>
       </div>
   </li>
</ul> -->

