<div class="hdng">
  <h2 >DASHBOARD</h2>
 </div>
<div class="panel-header panel-header-lg">
     <h3 style=" margin-left: 60px;
     margin-bottom: 17px;">Earnings</h3>
    <canvas baseChart id="bigDashboardChart"
                [datasets]="lineBigDashboardChartData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
         
          <h4 class="card-title">Students</h4>
          <!-- <div ngbDropdown> -->
            <!-- <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button> -->
            <!-- <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div> -->
          <!-- </div> -->
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="lineChartExample"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [colors]="lineChartColors"
                        [options]="lineChartOptions"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <!-- <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-lg-6 ">
      <!-- col-md-6 -->
      <div class="card card-chart">
        <div class="card-header">
        
          <h4 class="card-title">Teachers</h4>
          <!-- <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button> -->
            <!-- <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div> -->
          <!-- </div> -->
        </div>
        <div class="card-body">
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            <canvas baseChart id="lineChartExampleWithNumbersAndGrid"
                        [datasets]="lineChartWithNumbersAndGridData"
                        [labels]="lineChartWithNumbersAndGridLabels"
                        [colors]="lineChartWithNumbersAndGridColors"
                        [options]="lineChartWithNumbersAndGridOptions"
                        [chartType]="lineChartWithNumbersAndGridType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <!-- <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
