@import "~bootstrap/dist/css/bootstrap.css"
/* You can add global styles to this file, and also import other style files */
/* .sidebar{
    background: #1BE611;
} */
/* .sidebar[data-color=#1BE611] .nav li.active > a, .off-canvas-sidebar[data-color=#1BE611] .nav li.active > a {
    color: #1BE611;
} */
  
/* 
.mat-header-cell {
    font-size: 12px;
    font-weight: 500;
} */