<div class="panel-header panel-header-sm">
</div>
<div class="hdng">
  <h2 >EDIT PROFILE</h2>
 </div>
<div class="main-content"  style="position: relative;">
  <div class="">
    <div class="">
      <!-- <form> -->
      <div class="card">
       
        <div class="card-body  block-card">
         
            <div class="row">
             
              <div class="col-md-12 ">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" [(ngModel)]="myProfile.username" class="form-control" placeholder="Username">
                </div>
              </div>
             
               <!-- </div> -->


               <!-- <div class="row"> -->
              <div class="col-md-12 ">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" [(ngModel)]="myProfile.firstName" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="First Name" >
                </div>
              </div>
              <div class="col-md-12 ">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" [(ngModel)]="myProfile.lastName" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Last Name" value="">
                </div>
              </div>
               <!-- </div> -->
               <div class="col-md-12 ">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input name="email" [(ngModel)]="myProfile.email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email">
                </div>
              </div>
            
               <!-- <div class="row"> -->
            
            </div>
            <div class="text-center">
              <button mat-raised-button type="submit" class="btn btn-success ft"   (click)="Update()">Update</button>
             
              
              <!-- [disabled]="!addCategoryForm.valid"  -->
          </div>
          
        </div>
      </div>
    <!-- </form> -->
    </div>

    
  </div>
</div>
